/* CSS declarations go here */

h1 {
  font: 80px/180px "Pacifico", sans-serif;
  text-align: center;
  color: red;
}

.title-container {
  height: 200px;
  width: 70%;
  margin: auto;
  border: 1px solid black;
}

.jumbotron {
  width: 100%;
  height: 200px;
  background-image:url('foldingmap.jpg');
  background-size: 100%;
}

.row {
  border: 1px solid green;
}

.col-md-4 {
  border: 1px dashed red;
}

#map-container {
  border: 1px dashed purple;
  height: 500px;
  width: 500px;
  margin: auto;
}

#map-canvas {
  border: 1px dashed blue;
  height: 80%;
  width: 80%;
  margin: auto;
}
